<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to new_user_task_path do %>
        <button type="button" class="btn btn-outline-secondary idea-btn">しゃーない、やるか</button>
      <% end %>
    </div>
    <div class="col-md-2">
      画像
    </div>
    <div class="col-md-2">
      名言
    </div>
    <div class="col-md-3">
      <%= link_to  user_funs_path do %>
        <button type="button" class="btn btn-outline-secondary idea-btn">たまには休んで映画でもみたら？</button>
      <% end %>
    </div>
    <div class="col-md-2">
      画像
    </div>
  </div>
</div>