<div class="container">
  <div class="row">
    <div class="col-md-8 text-center offset-md-2">
      <%= image_tag "logo.png", width: "300px" %>
    </div>
  </div>
  <br>
  <div class="text-center about">
    「ToDoリストに挑戦してみたものの、挫折してしまった」そんな経験はありませんか？
    <br>
    </br>
    このアプリは、<mark>キュート</mark>な女の子が<mark>「(C)omes (U)p with (To)Do : ToDoを思いつく」</mark> を手伝ってくれます。
    </br>
    </br>
    「こんなのどう？」というボタンを押すと、ToDoリストの案が表示されてるようになっています。
    </br>
    </br>
    キュートな女の子と一緒にあなたに合った　ToDo　を探しませんか？
    </br>
    </br>
    </br>
  </div>
</div>


