/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

//フォント
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap');
h6,,h5,h4,h3,h2,h1,p,div {
 font-family: 'M PLUS Rounded 1c', sans-serif;
}

// 休憩画面の背景
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

//フォント
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap');
h6,,h5,h4,h3,h2,h1,p,div {
 font-family: 'M PLUS Rounded 1c', sans-serif;
}

// 休憩画面の背景
.main-container {
  background-image: image-url("backgroud_fun.png");
  height: 400px;
  background-size: cover;
}

header{
  height: 100px;
  border-bottom: thin groove #c0c0c0 ;
}

.container{
  height: auto;
}


footer{
  height: 200px;
  border-top: thin groove #c0c0c0 ;
}

.headline{
  height: auto;
}

.w50{
  width: 50%;
}

.main-visual{
  height: auto;
}

article {
 width: 65%;
 }

 aside {
 width: 29%;
 }

 .task-contents {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
  }

.header,.wrapper{
  max-width: 100%;
}

.post-info {
  position: relative;
  padding-top: 40px;
  margin-bottom: 40px;
}

.form{
  position: absolute;
  top: 0px;
  padding-top: 35px;
  margin-left: 360px;
  width: 500px;
}

.form-button{
  position: absolute;
  top: 0px;
  padding-top: 25px;
  margin-left: 880px;
  width: 100px;
}

.post-title{
  margin-left: 120px;
}


.post-info2 {
  position: relative;
  padding-top: 40px;
  margin-bottom: 40px;
}


.idea-btn{
  position: absolute;
  top: 20px;
  margin-left: 100px;
  width: 200px;
}

.ideaArea{
  display: none;
}


.suggestion{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}


.right{
	text-align: right;
}



.image1 {
  background-color: red;
}
.image2 {
  background-color: blue;
}
.image3 {
  background-color: green;
}
.image4 {
  background-color: yellow;
}
.image5 {
  background-color: black;
}

#container{
  height: 500px;
}


.parent {
  display: flex;
}



.task-font{
  font-size: 20px;
}




// task投稿
.taskForm{
  display: flex;
}

.p-right{
  margin-right: auto;
  margin-top: 40px;
}

.f-left{
   margin-right: auto;
   margin-top: 80px;

}

.box{
  display: inline-block;
  font-size: 16px;
}

.boxContainer{
  font-size: 0;
}


.contentParent{
  display: flex;
}

.TodoParent{
  width: 400px;
}
.parent{
  display: flex;
  width: 570px;
}

.ideaParent{
  display: flex;
  width: 500px;
}

.f-right {
  margin-left: auto;    /* これ！！！ */
}

.ideaArea{
  display: felex;
}

.ideabutton{
  margin-top: 60px;
}